.summary-wrapper {
	position: relative;
	width: 100%;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0 0 1rem black);
	user-select: none;

	@media screen and (max-width: 800px) {
		height: 1100px;
	}

	.summary {
		width: 100%;
		height: 800px;
		position: relative;

		clip-path: polygon(0px 150px, 100% 0px, 100% 650px, 0px 800px);
		background-color: var(--gray7);

		display: flex;
		align-items: center;
		justify-content: center;

		z-index: 5;

		@media screen and (max-width: 1000px) {
			padding-left: 0;
		}

		@media screen and (max-width: 800px) {
			height: 1100px;
			clip-path: polygon(0px 75px, 100% 0px, 100% 1025px, 0px 1100px);
			height: 100%;
		}

		.content {
			position: relative;
			width: 100%;
			max-width: 1800px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4rem;
			padding: 0 5%;

			@media screen and (max-width: 1000px) {
				gap: 2rem;
				padding: 0 1rem;
			}

			@media screen and (max-width: 800px) {
				flex-direction: column;
				align-items: center;
				justify-content: center;

				gap: 2rem;
				padding: 0 10%;
			}

			@media screen and (max-width: 550px) {
				gap: 0;
				padding: 0 1.5rem;
				bottom: 2rem;
			}
		}

		.image-wrapper {
			width: 50%;

			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			@media screen and (max-width: 800px) {
				width: 80%;
			}

			@media screen and (max-width: 550px) {
				width: 100%;
			}

			.wrapper {
				width: 100%;
				filter: drop-shadow(0 0 1rem black);

				.image-background {
					width: 90%;
					aspect-ratio: 5 / 6;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					clip-path: ellipse(30% 50% at 50% 50%);
					transform: rotate(60deg);
					background-color: var(--gray4);
					left: 2rem;

					@media screen and (max-width: 550px) {
						left: 1rem;
					}
				}
			}

			.image {
				position: absolute;
				filter: drop-shadow(0 0 1rem black);
				aspect-ratio: 1 / 1;
				width: 100%;

				@media screen and (max-width: 550px) {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		.text-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			width: 50%;

			@media screen and (max-width: 800px) {
				width: 100%;
			}

			@media screen and (max-width: 550px) {
				align-items: center;
				justify-content: center;
			}

			.text-block {
				width: 80%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 1rem;

				span {
					color: var(--gray1);
				}

				.summary-highlight {
					font-weight: 700;
					font-size: 2.5rem;
					line-height: 1.25;

					@media screen and (max-width: 1200px) {
						font-size: 2rem;
					}

					@media screen and (max-width: 800px) {
						font-size: 2.5rem;
					}

					@media screen and (max-width: 550px) {
						font-size: 2.25rem;
					}
				}

				.summary-text {
					font-size: 1.5rem;
					color: var(--main-gray);
					font-weight: 400;
					line-height: 1.25;

					@media screen and (max-width: 1200px) {
						font-size: 1.25rem;
					}

					@media screen and (max-width: 800px) {
						font-size: 1.5rem;
					}

					@media screen and (max-width: 550px) {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}
