.header {
	position: fixed;

	height: 4rem;
	display: flex;
	width: 100%;
	background-color: var(--background);
	z-index: 1000;
	transition: transform 0.1s;
	box-shadow: 0 10px 1rem black;

	.nav {
		width: 100%;
		padding: 0 2rem 0 1rem;
		display: flex;
		align-items: center;
		background-color: var(--background);

		@media screen and (max-width: 500px) and (orientation: portrait) {
			padding: 0;
		}

		.ul {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 2rem;
			font-size: 1.5rem;

			.logo {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				margin-right: auto;
				font-size: 2.25rem;
				color: var(--gray1);
				margin-left: 0.5rem;

				@media screen and (max-width: 500px) and (orientation: portrait) {
					font-size: 1.5rem;
					width: 50px;
				}
			}

			li:not(:first-child) {
				user-select: none;
			}
		}
	}
}
