.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 4rem);
	max-height: 1000px;

	user-select: none;

	@media screen and (max-width: 550px) and (orientation: portrait),
		screen and (max-height: 550px) and (orientation: landscape) {
		height: calc(100vh - 4rem);
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		height: 100%;

		z-index: 10;

		@media screen and (max-width: 3600px) {
			width: 60%;
			max-width: 1800px;
		}

		@media screen and (max-width: 2800px) {
			width: 70%;
		}

		@media screen and (max-width: 2000px) {
			width: 80%;
		}

		@media screen and (max-width: 550px) {
			top: 0;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			width: 100%;
			padding: 1.5rem;
		}

		.h1-box {
			position: relative;
			width: 100%;

			display: flex;
			flex-grow: 1;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media screen and (max-height: 550px) and (orientation: landscape) {
				height: 100%;
			}

			.logo-box {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				max-width: 32rem;
				aspect-ratio: 1;

				@media screen and (max-width: 550px) and (orientation: portrait) {
					transform: translateY(calc(-50% - 2rem));
				}

				@media screen and (max-height: 550px) and (orientation: landscape) {
					padding: 1rem;
					max-width: calc(100vh - 4rem);
				}

				.image-outer {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;
					filter: drop-shadow(0 0 0.25rem hsla(var(--hue), 100%, 50%, 1))
						drop-shadow(0 0 1rem hsla(var(--hue), 100%, 50%, 1))
						drop-shadow(0.5rem 0.5rem 1rem black)
						drop-shadow(0.5rem 0.5rem 1rem black)
						drop-shadow(0.5rem 0.5rem 1rem black);

					.image {
						width: 100%;
						height: auto;
						display: block;

						path {
							stroke: hsl(var(--hue), 100%, 50%);
							stroke-width: 2px;
							fill: transparent;
							stroke-dasharray: 2500;
							stroke-dashoffset: 2500;
							animation: svgAppear 3s ease-in-out forwards;

							@keyframes svgAppear {
								0% {
									stroke-dashoffset: -2500;
									stroke-opacity: 0;
								}

								50% {
									stroke-opacity: 1;
									stroke-width: 2px;
								}

								100% {
									stroke-dashoffset: 0;
									stroke-opacity: 1;
									stroke-width: 3px;
								}
							}
						}
					}
				}
			}

			.h1 {
				display: flex;
				flex-direction: column;
				color: var(--gray1);
				font-weight: 600;
				text-align: center;
				z-index: 5;
				text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
					0.5rem 0.5rem 3rem black;
				opacity: 0;
				animation: fadeIn 1s ease-in-out forwards;
				animation-delay: 3s;

				@keyframes fadeIn {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}

				.brand {
					font-size: 4rem;
					margin-bottom: 1rem;
				}

				.tagline {
					font-size: 2.5rem;
					font-weight: 500;
				}

				@media screen and (max-width: 550px) and (orientation: portrait) {
					transform: translateY(-2rem);
				}

				@media screen and (max-width: 550px) and (orientation: portrait),
					screen and (max-height: 550px) and (orientation: landscape) {
					// width: 90%;
					.brand {
						font-size: 2rem;
						margin-bottom: 0.5rem;
					}

					.tagline {
						font-size: 1.25rem;
					}
				}
			}
		}

		.definition {
			position: absolute;
			bottom: 0;
			text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
				0.5rem 0.5rem 3rem black;
			margin-bottom: 2rem;
			max-width: 38rem;

			opacity: 0;
			animation: fadeIn 1s ease-in-out forwards;
			animation-delay: 3s;

			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			@media screen and (max-height: 550px) and (orientation: landscape) {
				max-width: 60%;
				margin-bottom: 1.5rem;
			}

			@media screen and (max-width: 550px) and (orientation: portrait) {
				max-width: unset;
			}

			.h2 {
				font-family: var(--font-fredericka-the-great);
				font-size: 3.5rem;
				font-weight: 400;
				color: var(--gray1);
			}

			.h3 {
				font-size: 2rem;
				font-weight: 500;
				font-family: var(--font-roboto);
				color: var(--gray1);
			}

			.p {
				margin-left: 1ch;
				font-size: 1.25rem;
				font-family: var(--font-roboto);
				text-wrap: pretty;
			}

			@media screen and (max-width: 550px) and (orientation: portrait),
				screen and (max-height: 550px) and (orientation: landscape) {
				.h2 {
					font-size: 2.25rem;
				}

				.h3 {
					font-size: 1.125rem;
				}

				.p {
					font-size: 1rem;
				}
			}
		}
	}
}
