.development-graphics-container {
	height: 100%;
	width: 100%;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-image: linear-gradient(
				to right,
				var(--gray6) 1.5px,
				transparent 1.5px
			),
			linear-gradient(to bottom, var(--gray6) 1.5px, transparent 1.5px);
		background-size: 32px 32px;
		background-position: 0 -1rem;
		-webkit-mask-image: radial-gradient(
			circle at 50% 50%,
			#fff 50%,
			transparent 90%
		);
		mask-image: radial-gradient(circle at 50% 50%, #fff 50%, transparent 90%);
	}

	.gear1 {
		position: absolute;
		height: 11%;
		top: 8%;
		right: 22%;
		transform: rotate(24deg);
		animation: rotation3 20s linear infinite;

		.image {
			path {
				stroke: var(--gray5);
				stroke-width: 4px;

				fill: transparent;
			}
		}
	}

	.gear2 {
		position: absolute;
		height: 16%;
		top: 17%;
		right: 7%;
		transform: rotate(4deg);
		z-index: 2;
		animation: rotation2 25s linear infinite;

		@keyframes rotation2 {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.image {
			path {
				stroke: var(--gray5);
				stroke-width: 3px;

				fill: transparent;
			}
		}
	}

	.gear3 {
		position: absolute;
		height: 11%;
		top: 30%;
		right: 3%;
		transform: rotate(24deg);

		animation: rotation3 20s linear infinite;

		@keyframes rotation3 {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(-360deg);
			}
		}

		.image {
			path {
				stroke: var(--gray5);
				stroke-width: 4px;
				fill: transparent;
			}
		}
	}

	.gear4 {
		position: absolute;
		height: 22%;
		bottom: 36.5%;
		left: 8%;
		transform: rotate(24deg);

		animation: rotation4 20s linear infinite;

		@keyframes rotation4 {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.image {
			path {
				stroke: var(--gray5);
				stroke-width: 3px;

				fill: transparent;
			}
		}
	}

	.gear5 {
		position: absolute;
		height: 44%;
		aspect-ratio: 1;
		bottom: 3%;
		right: 4%;
		animation: rotation5 45s linear infinite;

		@keyframes rotation5 {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.image {
			path {
				stroke: var(--gray5);
				stroke-width: 2px;

				fill: transparent;
			}
		}
	}

	.development {
		position: absolute;
		top: 5%;
		left: 4.5%;
		width: 80%;
		aspect-ratio: 3 / 2;

		.desktop {
			position: absolute;
			bottom: 20%;
			left: 0;
			width: 75%;
			height: 75%;
			display: flex;
			flex-direction: column;
			z-index: 10;
			filter: drop-shadow(0 0 1rem black);

			.monitor {
				width: 100%;
				height: 80%;
				display: flex;
				justify-content: center;
				background-color: var(--gray2);
				border-radius: 4px;
				padding: 3px 2px;

				.screen {
					height: 95%;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					background-color: var(--gray6);
					background-image: url('/lg-grid-background.webp');
					background-size: contain;
					// background: black;

					.navbar {
						position: relative;
						width: 100%;
						height: 8%;
						background-color: var(--gray7);
						display: flex;
						align-items: center;

						.logo {
							display: flex;
							align-items: center;
							justify-content: center;
						}

						.brand {
							font-size: 0.5rem;
							color: var(--gray1);
						}

						.burger {
							height: 100%;
							aspect-ratio: 1;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 5px;
							margin-left: auto;

							.line {
								position: relative;
								height: 0.5px;
								width: 100%;
								background-color: var(--gray1);

								&::before {
									content: '';
									position: absolute;
									transform: translateY(-2px);
									height: 0.5px;
									width: 100%;
									background-color: var(--gray1);
								}

								&::after {
									content: '';
									position: absolute;
									transform: translateY(2px);
									height: 0.5px;
									width: 100%;
									background-color: var(--gray1);
								}
							}
						}
					}

					.bg {
						width: 100%;
						height: 92%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.base {
				width: 100%;
				height: 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.stand {
					width: 18%;
					height: 100%;
					clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
					background-image: linear-gradient(
						to bottom,
						var(--gray5),
						var(--gray4)
					);
				}

				.platform {
					width: 32%;
					height: 6%;
					background-color: var(--gray2);
				}
			}
		}

		.tablet {
			position: absolute;
			bottom: 17%;
			right: 6.5%;
			width: 40%;
			height: 40%;
			background-color: var(--gray3);
			border-radius: 5px;

			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			z-index: 10;
			box-shadow: 0 0 1rem black;

			.screen {
				height: 100%;
				width: 100%;
				background-color: var(--gray6);
				background-image: url('/lg-grid-background.webp');
				background-size: contain;
				border-radius: 3px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.navbar {
					position: relative;
					width: 100%;
					height: 8%;
					background-color: var(--gray7);
					display: flex;
					align-items: center;

					.logo {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.brand {
						font-size: 0.5rem;
						color: var(--gray1);
					}

					.burger {
						height: 100%;
						aspect-ratio: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 2px;
						margin-left: auto;

						.line {
							position: relative;
							height: 0.5px;
							width: 100%;
							background-color: var(--gray1);

							&::before {
								content: '';
								position: absolute;
								transform: translateY(-2px);
								height: 0.5px;
								width: 100%;
								background-color: var(--gray1);
							}

							&::after {
								content: '';
								position: absolute;
								transform: translateY(2px);
								height: 0.5px;
								width: 100%;
								background-color: var(--gray1);
							}
						}
					}
				}

				.bg {
					width: 100%;
					height: 92%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.mobile {
			position: absolute;
			bottom: 14%;
			right: 0;
			width: 10%;
			height: 30%;

			background-color: var(--gray4);
			padding: 2px;
			border-radius: 3px;
			z-index: 10;
			box-shadow: 0 0 1rem black;

			.screen {
				height: 100%;
				width: 100%;
				background-color: var(--gray6);
				background-image: url('/lg-grid-background.webp');
				background-size: cover;
				border-radius: 2px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.navbar {
					position: relative;
					width: 100%;
					height: 8%;
					background-color: var(--gray7);
					display: flex;
					align-items: center;

					.logo {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.brand {
						font-size: 0.25rem;
						color: var(--gray1);
					}

					.burger {
						height: 100%;
						aspect-ratio: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 2px;
						margin-left: auto;

						.line {
							position: relative;
							height: 0.5px;
							width: 100%;
							background-color: var(--gray1);

							&::before {
								content: '';
								position: absolute;
								transform: translateY(-1.5px);
								height: 0.5px;
								width: 100%;
								background-color: var(--gray1);
							}

							&::after {
								content: '';
								position: absolute;
								transform: translateY(1.5px);
								height: 0.5px;
								width: 100%;
								background-color: var(--gray1);
							}
						}
					}
				}

				.bg {
					width: 100%;
					height: 92%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.code {
		position: absolute;
		top: 10%;
		right: 11%;
		font-size: 4rem;
		font-weight: 600;
		color: hsl(var(--hue), 100%, 50%);
		text-shadow: 0 0 1rem black;
		z-index: 5;
		transition: transform 0.3s ease-in-out;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.design {
		position: absolute;
		bottom: 5%;
		width: 100%;
		height: 60%;
		z-index: 1;

		.palettes {
			position: absolute;
			bottom: 10%;
			left: 15%;
			height: 50%;
			aspect-ratio: 1 / 4;
			transition: transform 0.3s ease-in-out;
			filter: drop-shadow(0 0 1rem black);

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: scale(1.1);
				}
			}

			.palette1,
			.palette2,
			.palette3 {
				position: absolute;
				height: 100%;
				aspect-ratio: 1 / 4;
				padding: 7.5%;
				display: flex;
				flex-direction: column;
				gap: 4px;
				background-color: var(--gray2);
				border-radius: 4px;
				box-shadow: 2px 2px 0.5rem black;

				.pantone {
					width: 100%;
					height: 20%;
				}
			}

			.palette1 {
				transform: rotate(-6deg);
				transform-origin: 50% 100%;
			}

			.palette2 {
				transform: rotate(-18deg) translate(-0.375rem, 0.25rem);
				transform-origin: 50% 100%;
			}

			.palette3 {
				transform: rotate(-30deg) translate(-0.75rem, 0.5rem);
				transform-origin: 50% 100%;
			}
		}

		.rectangle {
			position: absolute;
			bottom: 0%;
			left: 30%;
			height: 40%;
			width: 40%;
			border: 3px dashed var(--gray3);
			border-radius: 0.5rem;
			display: flex;
			align-items: center;
			padding: 0 2rem;
			background-color: var(--gray7);
			box-shadow: 5px 5px 0.5rem black;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border-color: hsl(var(--hue), 100%, 50%);
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: hsl(var(--hue), 100%, 15%);
				border-radius: 0.5rem;
				z-index: -1;
				transform: translate(1.125rem, 1.125rem);
				box-shadow: inset 0.25rem 0.25rem 1rem black;
			}

			.icon-box {
				width: 1.75rem;
				height: 1.5rem;
				position: absolute;
				top: 0;
				transform: translateY(calc(-50% - 2px));
				left: 20%;
				background: var(--gray7);
				z-index: 1;
				display: flex;
				align-items: center;
				justify-content: center;

				.icon {
					font-size: 1.25rem;
					color: var(--gray1);
					transform: rotate(45deg);
					width: 2rem;
					height: 1.25rem;
				}
			}

			.letters {
				// color: hsl(var(--hue), 100%, 50%);
				color: var(--gray1);
				gap: 0.25rem;

				font-family: 'Times New Roman', Times, serif;

				.letter1 {
					font-size: 5rem;
				}

				.letter2 {
					font-size: 3.5rem;
					margin-left: 0.25rem;
					// color: hsl(var(--hue), 100%, 30%);
					color: var(--gray3);
				}

				.letter3 {
					font-size: 2.5rem;
					margin-left: 0.25rem;
					// color: hsl(var(--hue), 100%, 20%);
					color: var(--gray4);
				}
			}
		}

		.triangle-box {
			position: absolute;
			right: 4%;
			bottom: 7%;
			height: 35%;
			filter: drop-shadow(0 0.25rem 0.5rem black);
			transition: transform 0.3s ease-in-out;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: scale(1.1);
				}
			}

			svg {
				path {
					fill: transparent;
					stroke-width: 0.875rem;
					stroke: var(--gray2);
				}
			}
		}
	}

	// Smaller Desktop Screens
	@media screen and (max-width: 1450px) {
		height: 150%;

		.gear1 {
			top: 5%;
			right: 25%;
		}

		.gear2 {
			top: 10%;
		}

		.gear3 {
			top: 24%;
		}

		.gear4 {
			bottom: 46.5%;
		}

		.code {
			font-size: 3rem;
		}

		.design {
			.palettes {
				height: 40%;
			}

			.rectangle {
				bottom: 40%;
				left: 25%;
				height: 35%;
				width: 55%;
			}

			.triangle-box {
				right: 8%;
				transform: rotate(10deg);
			}
		}
	}
}
