@property --hue {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes hue-rotate {
	0% {
		--hue: 0deg;
	}
	100% {
		--hue: 360deg;
	}
}

.cta {
	all: unset;
	box-shadow: 0 0 0 2px hsla(var(--hue), 100%, 50%, 1);
	width: fit-content;
	font-size: 1.75rem;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	text-shadow: none;
	opacity: 0;
	color: var(--main-gray);
	animation: hue-rotate 15s linear infinite;

	&.hover-enabled {
		&:hover {
			box-shadow: 0 0 0 2px white;
		}
	}

	@media screen and (max-width: 500px) {
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
	}

	&.done {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
		cursor: pointer;
	}

	&.hero {
		will-change: border-color;
		position: relative;

		background-color: var(--background);
		border: none;
		box-shadow: 0 0 0 2px hsla(var(--hue), 100%, 50%, 1),
			0 0 0.5rem hsla(var(--hue), 100%, 50%, 1),
			0 0 1rem hsla(var(--hue), 100%, 50%, 1);
		animation: hue-rotate 15s linear infinite;

		&.hover-enabled {
			&:hover {
				box-shadow: 0 0 0 2px white, 0 0 0.5rem white, 0 0 1rem white;
			}
		}
	}

	&.summary {
		@media screen and (max-width: 500px) {
			font-size: 1.5rem;
		}
	}

	&.hover-enabled {
		&:hover {
			background-color: var(--gray5);
			color: var(--gray1);
			border-color: var(--gray1);
		}
	}

	&:active {
		background-color: var(--gray5);
		color: var(--gray1);
		border-color: var(--gray1);
	}

	&:focus {
		outline: 2px solid var(--main-teal);
		outline-offset: 2px;
		box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.2); // optional glow
	}
}
