.development-wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	box-sizing: border-box !important;
	user-select: none;

	h1,
	h2,
	h3,
	h4 {
		color: var(--gray1);
		text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
			0.5rem 0.5rem 3rem black;
	}

	h1,
	h2 {
		font-size: 5rem;

		@media screen and (max-width: 1200px) and (orientation: portrait),
			screen and (max-height: 950px) and (orientation: landscape) {
			font-size: 4rem;
		}
	}

	h1 {
		text-align: center;

		&.hero-h1 {
			font-weight: bold;
			color: hsl(150, 100%, 50%);
			text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
				0.5rem 0.5rem 3rem black, 0 0 1rem hsla(150, 100%, 50%, 0.5);
		}

		@media screen and (max-width: 550px) and (orientation: portrait) {
			font-size: 2.5rem;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			font-size: 2.5rem;
		}
	}

	h2 {
		@media screen and (max-width: 550px) and (orientation: portrait) {
			font-size: 2rem;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			font-size: 2.5rem;
		}
	}

	.description {
		width: 100%;
		height: calc(100vh - 4rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		padding: 0 10%;

		@media screen and (max-width: 550px) and (orientation: portrait),
			screen and (max-height: 550px) and (orientation: landscape) {
			height: calc(100vh - 3.5rem);
		}

		@media screen and (max-width: 500px) and (orientation: portrait) {
			padding: 0 1rem;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			gap: 2rem;
		}
	}

	.development-description {
		width: 90%;
		color: var(--gray1);
		font-size: var(--descriptor);
		line-height: 1.25;
		text-align: center;
		text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
			0.5rem 0.5rem 3rem black;

		@media screen and (max-width: 850px) and (orientation: portrait),
			screen and (max-height: 850px) and (orientation: landscape) {
			width: 100%;
		}

		@media screen and (max-width: 550px) and (orientation: portrait),
			screen and (max-height: 550px) and (orientation: landscape) {
			width: 90%;
		}

		@media screen and (max-width: 500px) and (orientation: portrait),
			screen and (max-height: 500px) and (orientation: landscape) {
			width: 100%;
		}

		@media screen and (max-height: 400px) and (orientation: landscape) {
			font-size: 1rem;
		}

		span {
			font-weight: bold;
			color: var(--gray1);

			&.hero-span {
				color: hsl(150, 100%, 50%);
				text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
					0.5rem 0.5rem 3rem black, 0 0 1rem hsla(150, 100%, 50%, 0.5);
			}
		}
	}

	.section {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 10%;
		gap: 3rem;

		@media screen and (max-width: 550px) and (orientation: portrait) {
			padding: 0 1rem;
			gap: 1rem;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			gap: 2rem;
		}

		h2 {
			text-align: center;
			margin-top: 6rem;

			@media screen and (max-width: 1200px) and (orientation: portrait),
				screen and (max-height: 950px) and (orientation: landscape) {
				margin-top: 3rem;
			}

			@media screen and (max-width: 850px) and (orientation: portrait) {
				margin-top: 0 !important;
			}

			@media screen and (max-height: 850px) and (orientation: landscape) {
				margin-top: 3rem !important;
			}

			@media screen and (max-height: 550px) and (orientation: landscape) {
				margin-top: 0 !important;
			}
		}
	}

	.process {
		.development-description {
			span {
				font-style: normal;
			}
		}
	}

	.custom {
		gap: 0;

		h2 {
			margin-top: 0 !important;
		}

		@media screen and (min-width: 850px) and (max-width: 1650px) and (min-height: 600px) and (orientation: landscape),
			screen and (min-height: 1000px) and (min-width: 860px) and (orientation: portrait) {
			padding: 0;
		}

		@media screen and (max-width: 860px) and (orientation: portrait) {
			gap: 2rem !important;
		}

		@media screen and (max-width: 750px) and (orientation: portrait),
			screen and (max-width: 1000px) and (max-height: 700px) and (orientation: landscape) {
			padding: 0 1rem;
			gap: 1rem !important;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			padding: 0 10%;
		}
	}
}
