.logo-box {
	position: relative;
	height: 50%;
	aspect-ratio: 1;

	.image-outer {
		position: relative;
		width: 100%;
		overflow: hidden;
		filter: drop-shadow(0 0 0.25rem hsla(var(--hue), 100%, 50%, 1))
			drop-shadow(0 0 1rem hsla(var(--hue), 100%, 50%, 1))
			drop-shadow(0.5rem 0.5rem 1rem black)
			drop-shadow(0.5rem 0.5rem 1rem black)
			drop-shadow(0.5rem 0.5rem 1rem black);

		.image {
			width: 100%;
			height: auto;
			display: block;

			path {
				stroke: hsl(var(--hue), 100%, 50%);
				stroke-width: 2px;
				fill: transparent;
			}
		}
	}
}
