.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-bottom: 1.5rem;

		&.antibot {
			padding-bottom: 0;
		}
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		padding-bottom: 0.5rem;
	}

	legend {
		font-size: 1.25rem;
		font-weight: 600;
		padding-bottom: 0.5rem;
	}

	.grouped {
		display: flex;
		gap: 2rem;
	}

	fieldset {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		label {
			position: relative;
			font-size: 1.25rem;
			font-weight: 600;

			span {
				color: red;
				position: absolute;
				transform: translateY(-5px);
				font-size: 1.125rem;
			}
		}

		input {
			font-size: 1.25rem;
			padding: 0.5rem;
			border: 1px solid transparent;
			background-color: transparent;
			border-bottom-color: var(--main-gray);
			color: var(--gray1);

			&:focus {
				color: black;
				background-color: var(--gray1);
				border-radius: 0.25rem;
				border-bottom-color: transparent;
				outline: 2px solid hsl(var(--hue), 100%, 50%);
				outline-offset: 2px;
				box-shadow: 0 0 0 3px hsla(var(--hue), 100%, 50%, 0.3);
			}

			&::placeholder {
				font-style: italic;
			}
		}

		textarea {
			font-size: 1.25rem;
			padding: 0.5rem;
			border: 1px solid var(--main-gray);
			border-radius: 4px;
			resize: vertical;

			&:focus {
				outline: 2px solid hsl(var(--hue), 100%, 50%);
				outline-offset: 2px;
				box-shadow: 0 0 0 3px hsla(var(--hue), 100%, 50%, 0.3);
			}
		}

		.textarea-spans {
			display: flex;
		}

		.charCount {
			font-size: 0.875rem;
			color: var(--gray4);
			text-align: right;
			margin-left: auto;
		}

		&.checkboxes {
			display: flex;
			flex-direction: column;
			padding-left: 1.5rem;

			&:nth-child(n + 3) {
				margin-top: 1rem;
			}

			.options {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				margin-top: 0.5rem;

				.option {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					label {
						font-weight: 400;
						font-size: 1.125rem;
						display: flex;
						align-items: center;
						gap: 0.5rem;
					}

					input {
						width: 1rem;
						aspect-ratio: 1;
						accent-color: hsl(211, 100%, 50%);
					}
				}
			}

			@media screen and (max-width: 550px) and (orientation: portrait) {
				padding-left: 0;

				.options {
					.option {
						align-items: flex-start;
						input {
							min-width: 1rem;
							margin-top: 1px;
						}
					}
				}
			}
		}
	}

	.error {
		color: red;
		font-size: 0.875rem;
		padding-bottom: 0.5rem;
	}

	button {
		font-size: 1.5rem;
		padding: 0.75rem;
		background-color: hsl(211, 100%, 50%);
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: hsl(211, 100%, 35%);
		}

		&:disabled {
			background-color: var(--gray2);
			cursor: not-allowed;
		}
	}

	@media screen and (max-width: 680px) and (orientation: portrait) {
		section {
			&.antibot {
				padding-bottom: 1.5rem;
			}
		}

		.grouped {
			flex-direction: column;
			gap: 1rem;
		}

		input {
			min-width: unset;
		}
	}
}
