.process-diagram {
	width: 60%;
	height: 100%;
	// aspect-ratio: 1;
	position: absolute;
	left: 10%;
	bottom: 0;
	filter: drop-shadow(0.25rem 0.25rem 0.75rem black);

	.map {
		position: relative;
		width: 100%;
		height: 100%;
		filter: drop-shadow(0.25rem 0.25rem 0.75rem black);

		.start {
			width: fit-content;
			position: absolute;
			top: 20.5%;
			left: 0;
			transform: translateX(calc(-100% - 0.5rem));
			display: flex;
			align-items: center;
			gap: 0.25rem;
			transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: translateX(calc(-100% - 0.5rem)) scale(1.1);
					filter: drop-shadow(0 0 0.75rem hsl(0, 100%, 100%, 0.5));
				}
			}

			.icon {
				width: 4.5rem;
				height: 4.5rem;
				color: var(--gray1);
			}

			.lines {
				position: relative;
				width: 2rem;
				height: 0.25rem;
				background-color: hsl(var(--hue), 100%, 50%);
				border-radius: 0.125rem;

				&::before {
					content: '';
					position: absolute;

					right: 0;
					transform: translateY(-0.75rem);
					width: 2.5rem;
					height: 0.25rem;
					background-color: hsl(var(--hue), 100%, 50%);
					border-radius: 0.125rem;
				}

				&::after {
					content: '';
					position: absolute;

					right: 0;
					transform: translateY(0.75rem);
					width: 1.5rem;
					height: 0.25rem;
					background-color: hsl(var(--hue), 100%, 50%);
					border-radius: 0.125rem;
				}
			}
		}

		.chatbox {
			width: 45%;
			height: 20%;
			position: absolute;
			top: 20%;
			right: -18%;
			transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: scale(1.1);
					filter: drop-shadow(0 0 0.75rem hsl(0, 100%, 100%, 0.5));
				}
			}

			.phone {
				position: absolute;
				bottom: 0;
				left: 0;

				.lines {
					width: 25%;
					height: 25%;
					position: absolute;
					top: 10%;
					right: 10%;
					display: flex;
					align-items: center;
					justify-content: center;

					transform: rotate(-45deg);

					.line {
						position: relative;
						width: 100%;
						height: 0.25rem;
						background-color: var(--gray1);
						border-radius: 0.125rem;

						&::before {
							content: '';
							position: absolute;
							transform: translate(-0.25rem, -0.875rem) rotate(-30deg);

							width: 100%;
							height: 0.25rem;
							background-color: var(--gray1);
							border-radius: 0.125rem;
						}

						&::after {
							content: '';
							position: absolute;
							transform: translate(-0.25rem, 0.875rem) rotate(30deg);

							width: 100%;
							height: 0.25rem;
							background-color: var(--gray1);
							border-radius: 0.125rem;
						}
					}
				}

				.icon {
					font-size: 5rem;
					color: var(--gray1);
				}
			}

			.chat {
				position: absolute;
				top: 0;
				right: 0;

				.ellipsis {
					width: 98%;
					height: 80%;
					position: absolute;
					right: 0;
					top: 1%;
					display: flex;
					gap: 0.5rem;
					align-items: center;
					justify-content: center;

					span {
						width: 0.375rem;
						height: 0.375rem;
						background-color: hsl(var(--hue), 100%, 50%);
						opacity: 0;

						&.visible {
							opacity: 1;
						}
					}
				}

				.icon {
					font-size: 5rem;
					color: var(--gray1);
				}
			}
		}

		.desktop {
			position: absolute;
			bottom: 25%;
			left: 10%;
			width: 35%;
			height: 20%;
			display: flex;
			flex-direction: column;
			z-index: 10;
			transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: scale(1.1);
					filter: drop-shadow(0 0 0.75rem hsl(0, 100%, 100%, 0.5));
				}
			}

			.monitor {
				width: 100%;
				height: 80%;
				display: flex;
				justify-content: center;
				background-color: var(--gray1);
				border-radius: 4px;
				padding: 0.25rem 0.125rem;

				.screen {
					position: relative;
					height: 95%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
					background-color: var(--gray7);

					.graph {
						height: 60%;
						aspect-ratio: 1;
						border: 3px solid var(--gray1);

						.icon {
							width: 100%;
							height: 100%;
							color: hsl(var(--hue), 100%, 50%);
						}
					}

					.slide {
						height: 60%;
						aspect-ratio: 1;
						display: flex;
						flex-direction: column;
						gap: 6px;

						.lines {
							height: fit-content;
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 3px;
							opacity: 0;
							transition: opacity 0.3s ease-in-out;

							&.visible {
								opacity: 1;
							}

							span {
								height: 3px;
								width: 100%;
								background-color: var(--gray1);
							}
						}
					}
				}
			}

			.base {
				width: 100%;
				height: 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.stand {
					width: 2rem;
					height: 100%;
					clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
					background-image: linear-gradient(
						to bottom,
						var(--gray5),
						var(--gray4)
					);
				}

				.platform {
					width: 4rem;
					height: 0.25rem;
					background-color: var(--gray1);
				}
			}
		}

		.curved-path {
			width: 100%;
			height: 100%;

			.grayline {
				stroke: var(--gray3);
				stroke-width: 0.375rem;
				fill: none;
				stroke-dasharray: 1.5rem;
				stroke-dashoffset: 0.75rem;
			}

			.colorline {
				stroke: hsl(var(--hue), 100%, 50%);
				stroke-width: 0.375rem;
				fill: none;
				stroke-dasharray: 1.5rem;
				stroke-dashoffset: 0.75rem;
			}

			.maskline {
				stroke: white;
				stroke-width: 0.375rem;
				fill: none;
				stroke-dasharray: 125rem;
				stroke-dashoffset: 125rem;
				animation: dashoffset 5s linear infinite;
			}

			@keyframes dashoffset {
				0%,
				10% {
					stroke-dashoffset: 125rem;
				}

				90%,
				100% {
					stroke-dashoffset: 0;
				}
			}

			// .arrowhead {
			// 	stroke: var(--gray3);
			// 	stroke-width: 0.375rem;
			// 	stroke-linecap: round;
			// 	stroke-linejoin: round;
			// 	fill: none;
			// 	animation: dashoffset 10s linear infinite;
			// }
		}

		.handshake {
			position: absolute;
			width: 22.5%;
			height: 22.5%;
			bottom: 9%;
			right: 0.375rem;
			transform: translateX(calc(100% + 0.5rem));
			transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					transform: translateX(calc(100% + 0.5rem)) scale(1.1);
					filter: drop-shadow(0 0 0.75rem hsl(0, 100%, 100%, 0.5));
				}
			}

			svg {
				width: 100%;
				height: 100%;

				path {
					fill: var(--gray1);
				}
			}
		}
	}

	// Smaller Desktop Screens
	@media screen and (max-width: 1450px) and (orientation: landscape) {
		width: 70%;

		.map {
			height: 100%;
			top: 50%;
			transform: translateY(-50%);

			.start {
				top: 16.5%;
				left: 1%;
				gap: 0;
			}

			.chatbox {
				width: 45%;
				height: 30%;
				top: 12%;
				right: -16%;

				@media screen and (max-width: 1350px) {
					.phone .icon,
					.chat .icon {
						font-size: 4.5rem;
					}
				}
			}

			.desktop {
				bottom: 18%;
				left: 11%;
				width: 40%;
				height: 23%;
			}

			.curved-path {
				position: absolute;
				top: 0.75rem;
				transform: scale(1, 1);
			}

			.handshake {
				width: 27%;
				height: 27%;
				bottom: 0%;
				right: 2%;
			}
		}
	}

	// Tablet (Big) Portrait
	@media screen and (max-width: 1050px) and (orientation: portrait) {
		width: 60%;
		left: 50%;
		transform: translateX(-50%);

		.map {
			height: 80%;
			top: 50%;
			transform: translateY(-50%);

			.start {
				top: 15%;
				left: 1%;
				gap: 0;

				.icon {
					width: 3rem;
					height: 3rem;
				}

				.lines {
					width: 1.5rem;
					height: 3px;
					border-radius: 1.5px;

					&::before {
						transform: translateY(-0.5rem);
						width: 2rem;
						height: 3px;
						border-radius: 1.5px;
					}

					&::after {
						transform: translateY(0.5rem);
						width: 1rem;
						height: 3px;
						border-radius: 1.5px;
					}
				}
			}

			.chatbox {
				width: 42.5%;
				height: 25%;
				top: 12%;
				right: -15%;

				.phone {
					.lines {
						.line {
							&::before {
								transform: translate(-0.25rem, -0.75rem) rotate(-30deg);
							}

							&::after {
								transform: translate(-0.25rem, 0.75rem) rotate(30deg);
							}
						}
					}

					.icon {
						font-size: 3rem;
					}
				}

				.chat {
					.ellipsis {
						gap: 5px;

						span {
							width: 5px;
							height: 5px;
						}
					}

					.icon {
						font-size: 3rem;
					}
				}
			}

			.desktop {
				bottom: 16.5%;
				left: 11%;
				width: 40%;
				height: 23%;

				.monitor {
					.screen {
						.slide {
							gap: 4px;

							.lines {
								gap: 2px;

								span {
									height: 2px;
								}
							}
						}
					}
				}

				.base {
					.platform {
						height: 3px;
					}
				}
			}

			.curved-path {
				position: absolute;
				top: 0.75rem;
				transform: scale(1, 1.25);
			}

			.handshake {
				width: 23%;
				height: 23%;
				bottom: -3%;
				right: 2%;
			}
		}
	}

	// Tablet (Medium) Portrait
	@media screen and (max-width: 950px) and (orientation: portrait) {
		width: 100%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);

		.map {
			height: 80%;
			top: 50%;
			transform: translateY(-50%);

			.start {
				top: 11.5%;
				left: 22%;
				gap: 0;

				.icon {
					width: 3rem;
					height: 3rem;
				}

				.lines {
					width: 1.5rem;
					height: 3px;
					border-radius: 1.5px;

					&::before {
						transform: translateY(-0.5rem);
						width: 2rem;
						height: 3px;
						border-radius: 1.5px;
					}

					&::after {
						transform: translateY(0.5rem);
						width: 1rem;
						height: 3px;
						border-radius: 1.5px;
					}
				}
			}

			.chatbox {
				width: 19%;
				height: 30%;
				top: 12%;
				right: 15%;

				.phone {
					.lines {
						.line {
							&::before {
								transform: translate(-0.25rem, -0.75rem) rotate(-30deg);
							}

							&::after {
								transform: translate(-0.25rem, 0.75rem) rotate(30deg);
							}
						}
					}

					.icon {
						font-size: 3rem;
					}
				}

				.chat {
					.ellipsis {
						gap: 5px;

						span {
							width: 5px;
							height: 5px;
						}
					}

					.icon {
						font-size: 3rem;
					}
				}
			}

			.desktop {
				bottom: 11%;
				left: 28%;
				width: 14%;
				height: 27%;

				.monitor {
					.screen {
						.slide {
							gap: 4px;

							.lines {
								gap: 2px;

								span {
									height: 2px;
								}
							}
						}
					}
				}

				.base {
					.platform {
						height: 3px;
					}
				}
			}

			.curved-path {
				position: absolute;
				top: 0.75rem;
				transform: scaleX(1.4);
			}

			.handshake {
				width: 27%;
				height: 27%;
				bottom: -9%;
				right: 31%;
			}
		}
	}

	// Tablet Landscape
	@media screen and (max-width: 1250px) and (orientation: landscape) {
		width: 60%;
		left: 50%;
		transform: translateX(-50%);

		.map {
			height: 80%;
			top: 50%;
			transform: translateY(-50%);

			.start {
				top: 15%;
				left: 1%;
				gap: 0;

				.icon {
					width: 3rem;
					height: 3rem;
				}

				.lines {
					width: 1.5rem;
					height: 3px;
					border-radius: 1.5px;

					&::before {
						transform: translateY(-0.5rem);
						width: 2rem;
						height: 3px;
						border-radius: 1.5px;
					}

					&::after {
						transform: translateY(0.5rem);
						width: 1rem;
						height: 3px;
						border-radius: 1.5px;
					}
				}
			}

			.chatbox {
				width: 42.5%;
				height: 25%;
				top: 12%;
				right: -15%;

				.phone {
					.lines {
						.line {
							&::before {
								transform: translate(-0.25rem, -0.75rem) rotate(-30deg);
							}

							&::after {
								transform: translate(-0.25rem, 0.75rem) rotate(30deg);
							}
						}
					}

					.icon {
						font-size: 3rem;
					}
				}

				.chat {
					.ellipsis {
						gap: 5px;

						span {
							width: 5px;
							height: 5px;
						}
					}

					.icon {
						font-size: 3rem;
					}
				}
			}

			.desktop {
				bottom: 16.5%;
				left: 11%;
				width: 40%;
				height: 23%;

				.monitor {
					.screen {
						.slide {
							gap: 4px;

							.lines {
								gap: 2px;

								span {
									height: 2px;
								}
							}
						}
					}
				}

				.base {
					.platform {
						height: 3px;
					}
				}
			}

			.curved-path {
				position: absolute;
				top: 0.75rem;
				transform: scale(1, 1.25);
			}

			.handshake {
				width: 27%;
				height: 27%;
				bottom: -5%;
				right: 2%;
			}
		}
	}

	// Mobile Portrait
	@media screen and (max-width: 550px) and (orientation: portrait) {
		width: 65%;
		height: 100%;
		left: 50%;

		.map {
			height: 100%;
			top: 0;
			transform: translateX(0);

			.start {
				top: 18%;
				left: 1%;

				.icon {
					width: 2.75rem;
					height: 2.75rem;
				}

				.lines {
					width: 1.5rem;
					height: 3px;
					border-radius: 1.5px;

					&::before {
						transform: translateY(-0.5rem);
						width: 2rem;
						height: 3px;
						border-radius: 1.5px;
					}

					&::after {
						transform: translateY(0.5rem);
						width: 1rem;
						height: 3px;
						border-radius: 1.5px;
					}
				}
			}

			.chatbox {
				width: 50%;
				height: 25%;
				top: 15%;
				right: -19%;

				.phone {
					.lines {
						.line {
							&::before {
								transform: translate(-0.25rem, -0.75rem) rotate(-30deg);
							}

							&::after {
								transform: translate(-0.25rem, 0.75rem) rotate(30deg);
							}
						}
					}

					.icon {
						font-size: 3.5rem;
					}
				}

				.chat {
					.ellipsis {
						gap: 5px;

						span {
							width: 5px;
							height: 5px;
						}
					}

					.icon {
						font-size: 3.5rem;
					}
				}
			}

			.desktop {
				bottom: 23%;
				left: 10%;
				width: 42%;
				height: 21%;

				.monitor {
					.screen {
						.slide {
							gap: 4px;

							.lines {
								gap: 2px;

								span {
									height: 2px;
								}
							}
						}
					}
				}

				// .base {
				// 	.platform {
				// 		height: 3px;
				// 	}
				// }
			}

			.curved-path {
				position: relative;
				top: 0;
				transform: scaleY(1.2);
			}

			.handshake {
				width: 27%;
				height: 27%;
				bottom: 4%;
				right: 0.375rem;
			}
		}
	}

	// Mobile Landscape
	@media screen and (max-height: 550px) and (orientation: landscape) {
		width: 100%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);

		.map {
			height: 80%;
			top: 50%;
			transform: translateY(-50%);

			.start {
				top: 11.5%;
				left: 22%;
				gap: 0;

				.icon {
					width: 3rem;
					height: 3rem;
				}

				.lines {
					width: 1.5rem;
					height: 3px;
					border-radius: 1.5px;

					&::before {
						transform: translateY(-0.5rem);
						width: 2rem;
						height: 3px;
						border-radius: 1.5px;
					}

					&::after {
						transform: translateY(0.5rem);
						width: 1rem;
						height: 3px;
						border-radius: 1.5px;
					}
				}
			}

			.chatbox {
				width: 19%;
				height: 30%;
				top: 12%;
				right: 15%;

				.phone {
					.lines {
						.line {
							&::before {
								transform: translate(-0.25rem, -0.75rem) rotate(-30deg);
							}

							&::after {
								transform: translate(-0.25rem, 0.75rem) rotate(30deg);
							}
						}
					}

					.icon {
						font-size: 3rem;
					}
				}

				.chat {
					.ellipsis {
						gap: 5px;

						span {
							width: 5px;
							height: 5px;
						}
					}

					.icon {
						font-size: 3rem;
					}
				}
			}

			.desktop {
				bottom: 11%;
				left: 28%;
				width: 14%;
				height: 27%;

				.monitor {
					.screen {
						.slide {
							gap: 4px;

							.lines {
								gap: 2px;

								span {
									height: 2px;
								}
							}
						}
					}
				}

				.base {
					.platform {
						height: 3px;
					}
				}
			}

			.curved-path {
				position: absolute;
				top: 0.75rem;
				transform: scaleX(1.4);
			}

			.handshake {
				width: 27%;
				height: 27%;
				bottom: -9%;
				right: 31%;
			}
		}
	}
}
