@property --hue {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: true;
}

@keyframes hue-rotate {
	0% {
		--hue: 0deg;
	}
	100% {
		--hue: 360deg;
	}
}

:root {
	--gray1: hsl(0, 0%, 98%);
	--gray2: hsl(0, 0%, 80%);
	--gray3: hsl(0, 0%, 60%);
	--gray4: hsl(0, 0%, 40%);
	--gray5: hsl(0, 0%, 20%);
	--gray6: hsl(0, 0%, 15%);
	--gray7: hsl(0, 0%, 10%);

	--teal1: hsl(180, 100%, 50%);
	--teal2: hsl(180, 100%, 40%);
	--teal3: hsl(180, 100%, 30%);
	--teal4: hsl(180, 100%, 20%);
	--teal5: hsl(180, 100%, 10%);
	--teal6: hsl(180, 100%, 5%);

	--main-gray: hsl(0, 0%, 75%);
	--main-teal: hsl(180, 100%, 50%);

	--background: hsl(0, 0%, 5%);

	--hue: 0deg;

	/* Font Sizes */
	--descriptor: 1.5rem;

	@media screen and (max-width: 550px) and (orientation: portrait),
		screen and (max-height: 550px) and (orientation: landscape) {
		--descriptor: 1.125rem;
	}
}

/* IBM Plex Mono Regular */
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Fredericka the Great Regular */
@font-face {
	font-family: 'Fredericka the Great';
	src: url('/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Roboto Regular */
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-ibm-plex-mono), var(--font-roboto);
	overflow-x: hidden; // elements in timeline.tsx overflow the page to the right and left

	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */

	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--main-gray);
	background: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	animation: hue-rotate 5s linear infinite;

	.skip-link {
		position: absolute;
		left: -9999px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		white-space: nowrap;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: var(--font-ibm-plex-mono);
	}

	.skip-link:focus-visible,
	.skip-link:active {
		left: 1rem;
		top: 1rem;
		width: auto;
		height: auto;
		padding: 1rem 2rem;
		background: hsla(0, 0%, 5%, 0.95);
		color: #fff;
		border-radius: 6px;
		text-decoration: none;
		z-index: 9999;
		clip: auto;
		clip-path: none;
		box-shadow: 0.5rem 0.5rem 1rem black;
		font-weight: 600;
		border-radius: 0.25rem;
		outline: 2px solid aqua;
	}

	/* Make sure the focused target (main) is scrolled into view correctly if header is fixed */
	#maincontent {
		/* if your header is fixed, set this so anchor jumps account for it */
		scroll-margin-top: var(--header-height, 4rem);
		-webkit-overflow-scrolling: touch;
	}
}

* {
	box-sizing: border-box !important;
	padding: 0;
	margin: 0;
	// outline: 1px solid red;

	// &:focus-visible {
	// 	border-radius: 0.5rem;
	// 	outline: 2px solid aqua !important;
	// 	outline-offset: 0.25rem;
	// }
}

a {
	color: inherit;
	text-decoration: none;
}

.main {
	width: 100%;
	max-width: 1800px;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.main-content {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		padding: 4rem 0;

		@media screen and (max-width: 550px) {
			overflow-x: hidden;
		}
	}
}

p {
	text-wrap: pretty;
}
