.tile {
	width: 400px;
	height: 550px;

	@media (hover: hover) and (pointer: fine) {
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	@media screen and (max-width: 1400px) {
		width: 350px;
	}

	@media screen and (max-width: 1250px) {
		width: 400px;
	}

	.tile-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
		transform-style: preserve-3d;

		&.flipped {
			transform: rotateY(180deg);
		}

		.tile-front,
		.tile-back {
			width: 400px;
			height: 550px;
			position: absolute;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 0.5rem;
			padding: 1.25rem 0;
			text-align: center;
			box-shadow: 0.5rem 0.5rem 1rem black;
			cursor: pointer;

			backface-visibility: hidden;

			@media screen and (max-width: 1400px) {
				width: 350px;
			}

			@media screen and (max-width: 1250px) {
				width: 400px;
			}
		}

		.tile-front {
			background-color: var(--gray6);
			padding: 1.25rem;

			.h3 {
				font-size: 2rem;
				color: var(--gray1);

				@media screen and (max-width: 1400px) {
					font-size: 1.5rem;
				}

				@media screen and (max-width: 1250px) {
					font-size: 2rem;
				}
			}

			.p {
				font-size: 1.125rem;
			}
		}

		.tile-back {
			background-color: var(--gray6);
			transform: rotateY(180deg);

			.back-content {
				width: 100%;
				height: 100%;

				.h3 {
					font-size: 2rem;
					font-weight: 500;
					color: var(--gray1);

					@media screen and (max-width: 1400px) {
						font-size: 1.5rem;
					}

					@media screen and (max-width: 1250px) {
						font-size: 2rem;
					}
				}

				.ul {
					display: flex;
					flex-direction: column;
					gap: 1.25rem;
					padding: 1.25rem;

					@media screen and (max-width: 1400px) {
						gap: 1rem;
						padding: 0.5rem 1.25rem;
					}

					@media screen and (max-width: 1250px) {
						gap: 1.25rem;
						padding: 1.25rem;
					}

					.li {
						align-self: flex-start;
						text-align: left;
						list-style: disc;
						margin-left: 1.25rem;
						font-size: 1.125rem;
						line-height: 1.5;

						@media screen and (max-width: 1400px) {
							line-height: 1.25;
						}

						@media screen and (max-width: 1250px) {
							font-size: 1.125rem;
							line-height: 1.5;
						}

						.emphasis {
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	.image-wrapper {
		filter: drop-shadow(0.5rem 0.5rem 1rem black);
		position: relative;

		.wrapper {
			position: absolute;
			align-self: center;
			z-index: -1;

			.image-background {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 400px;
				height: 400px;
				clip-path: ellipse(40% 45% at 50% 50%);
				transform: rotate(-60deg);
				background-color: var(--gray2);

				@media screen and (max-width: 1400px) {
					width: 325px;
					height: 325px;
				}

				@media screen and (max-width: 1250px) {
					width: 400px;
					height: 400px;
				}
			}
		}

		.image {
			@media screen and (max-width: 1400px) {
				width: 325px;
				height: 325px;
			}

			@media screen and (max-width: 1250px) {
				width: 400px;
				height: 400px;
			}
		}
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	p {
		font-size: 1rem;
		color: #666;
		margin-bottom: 10px;
	}

	.more {
		text-decoration: underline;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				color: var(--gray1);
			}
		}
	}
}
