.services-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	user-select: none;

	@media screen and (max-height: 550px) and (orientation: landscape) {
		gap: 2rem;
	}

	.h2 {
		font-size: 4rem;
		text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
			0.5rem 0.5rem 3rem black;
		padding-top: 2rem;
		color: var(--gray1);

		@media screen and (min-width: 600px) and (max-width: 1050px) and (orientation: portrait),
			screen and (min-height: 600px) and (max-height: 1050px) and (orientation: landscape) {
			font-size: 3.5rem;
		}

		@media screen and (max-width: 550px) and (orientation: portrait),
			screen and (max-height: 550px) and (orientation: landscape) {
			font-size: 2.5rem;
		}
	}

	.services {
		width: 100%;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 10%;
		gap: 6rem;
		z-index: 5;

		@media screen and (max-width: 1700px) {
			padding: 0 2rem;
		}

		@media screen and (max-width: 1400px) {
			padding: 0 2rem;
			gap: 4rem;
		}

		@media screen and (max-width: 950px) and (orientation: portrait) {
			gap: 4rem;
			padding: 0 10%;
		}

		@media screen and (max-height: 550px) and (orientation: landscape) {
			gap: 3rem;
		}

		.content-wrapper {
			position: relative;
			height: fit-content;
			width: 100vw;
			display: flex;
			align-items: center;
			box-shadow: 0.5rem 0.5rem 1rem black;
			// background: var(--gray7);
			background-image: linear-gradient(
				135deg,
				hsla(0, 0%, 20%, 0.5),
				hsla(0, 0%, 5%, 0.5)
			);
			backdrop-filter: blur(10px);
			padding: 3rem 3rem;

			.content-container {
				height: 100%;
				width: calc(100% - (5vw));
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				gap: 2rem;

				.section-title {
					font-size: 4rem;
					color: var(--gray1);

					// Tablet (Big) Landscape
					@media screen and (max-width: 1250px) and (orientation: landscape) {
						font-size: 2.75rem;
					}

					// Tablet (Big) Portrait
					@media screen and (max-width: 1050px) and (orientation: portrait) {
						font-size: 3rem;
					}
				}

				.cta {
					position: relative;
					height: fit-content;
					all: unset;
					font-size: 1.125rem;
					color: var(--gray1);

					cursor: pointer;

					.link {
						position: relative;
						border-bottom: 2px solid var(--gray1);

						@supports (-webkit-background-clip: text) {
							background-image: linear-gradient(
								to right,
								hsl(var(--hue), 100%, 50%) 50%,
								var(--gray1) 50%
							);
							background-size: 200% 100%;
							background-position: 100% 0;
							transition: background-position 0.3s ease-in-out;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}

						&::after {
							content: '';
							position: absolute;
							top: 0px;
							left: 0;
							height: 100%;
							width: 0%;
							border-bottom: 2px solid hsl(var(--hue), 100%, 50%);
							transition: width 0.3s ease-in-out;
						}
					}

					@media (hover: hover) and (pointer: fine) {
						&:hover {
							font-weight: 500;

							.link {
								background-position: 0 0;
							}

							.link::after {
								width: 100%;
							}
						}
					}

					@media screen and (max-width: 550px) {
						font-size: 1.25rem;
						padding: 0.5rem 1rem;
					}

					&:focus-visible {
						outline: 2px solid var(--main-teal);
						outline-offset: 2px;
						box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.2); // optional glow
					}
				}

				.arrow {
					font-weight: bold;
					transform: scaleX(1.5);
					transform-origin: left;

					@supports (-webkit-background-clip: text) {
						background: hsl(var(--hue), 100%, 50%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}

			// Mobile
			@media screen and (max-width: 950px) and (orientation: portrait),
				screen and (max-height: 550px) and (orientation: landscape) {
				background-image: none;
				backdrop-filter: none;
				border-radius: 0;
				box-shadow: none;
				padding: 0 1rem;

				.content-container {
					width: 100%;

					.section-title {
						display: none;
						text-align: center;
						font-size: 2rem;
						text-wrap: balance;
					}

					.cta {
						display: none;
					}
				}
			}

			@media screen and (max-height: 550px) and (orientation: landscape) {
				padding: 0 10%;
			}
		}

		.content-wrapper:nth-child(odd) {
			border-radius: 0 5rem 5rem 0;

			transform: translateX(-5vw);
			justify-content: flex-end;

			.content-container > :first-child {
				transform: translateX(2.5vw);
			}

			.content-container > :last-child {
				transform: translateX(2.5vw);
			}

			// Mobile
			@media screen and (max-width: 950px) and (orientation: portrait),
				screen and (max-height: 550px) and (orientation: landscape) {
				transform: translateX(0);
				justify-content: center;

				.content-container > :first-child {
					transform: translateX(0);
				}

				.content-container > :last-child {
					transform: translateX(0);
				}
			}
		}

		.content-wrapper:nth-child(even) {
			border-radius: 5rem 0 0 5rem;

			transform: translateX(5vw);
			justify-content: flex-start;

			// .content-container {
			// 	.text {
			// 		.text-content {
			// 			text-align: right;
			// 		}
			// 	}
			// }

			.content-container > :first-child {
				transform: translateX(-2.5vw);
			}

			.content-container > :last-child {
				transform: translateX(-2.5vw);
			}

			// Mobile
			@media screen and (max-width: 950px) and (orientation: portrait),
				screen and (max-height: 550px) and (orientation: landscape) {
				transform: translateX(0);
				justify-content: center;

				.content-container > :first-child {
					transform: translateX(0);
				}

				.content-container > :last-child {
					transform: translateX(0);
				}
			}
		}
	}
}
