.services-wrapper {
	position: relative;
	width: 100%;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	transform: translateY(-100px);

	.services {
		width: 100%;
		height: 800px;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 10%;
		gap: 2rem;
		z-index: 5;

		.h2 {
			font-size: 4rem;
			text-shadow: 0.5rem 0.5rem 1rem black, 0.5rem 0.5rem 2rem black,
				0.5rem 0.5rem 3rem black;
		}

		.services-tiles {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.tile {
				width: 400px;
				border-radius: 0.5rem;
				padding: 1.25rem 0;
				text-align: center;
				background-color: hsl(0, 0%, 15%);
				box-shadow: 0.5rem 0.5rem 1rem black;
				cursor: pointer;

				.image-wrapper {
					filter: drop-shadow(0.5rem 0.5rem 1rem black);

					.image {
						width: 100%;
						height: auto;
						border-radius: 0.5rem;
						margin-bottom: 15px;
					}
				}

				h3 {
					font-size: 1.5rem;
					margin-bottom: 10px;
				}

				p {
					font-size: 1rem;
					color: #666;
				}
			}
		}
	}
}
