.tiles {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 3rem;
	max-height: 73rem;
	transition: max-height 0.5s ease-in-out;
	padding: 3rem;
	overflow: hidden;

	&.open {
		max-height: 108rem;

		.tile.hidden {
			opacity: 1;
		}
	}

	.tile {
		opacity: 1;
		transition: opacity 0.5s ease-in-out;

		&.hidden {
			opacity: 0;
		}
	}

	@media (min-width: 1400px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (max-height: 850px) and (orientation: landscape) {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
		padding: 3rem 0;
		max-height: 54rem;

		&.open {
			max-height: 80rem;
		}
	}
}

@keyframes drawerIn {
	from {
		// opacity: 0;
		max-height: 0;
	}

	to {
		// opacity: 1;
		max-height: 32rem;
		overflow: visible;
	}
}

@keyframes drawerOut {
	from {
		// opacity: 1;
		max-height: 32rem;
	}

	to {
		// opacity: 0;
		max-height: 0;
	}
}

.more {
	all: unset;
	position: relative;
	text-decoration: underline;
	text-underline-offset: 2px;
	cursor: pointer;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: var(--gray1);
		}
	}

	&:focus-visible {
		border-radius: 0.25rem;
		padding: 0 0.25rem;
		outline: 2px solid aqua;
		outline-offset: 0.25rem;
	}

	&.up {
		&::after {
			position: absolute;
			content: '↑';
			right: 0;
			transform: translateX(calc(100% + 0.5rem));
		}

		&::before {
			position: absolute;
			content: '↑';
			left: 0;
			transform: translateX(calc(-100% - 0.5rem));
		}
	}

	&::after {
		position: absolute;
		content: '↓';
		right: 0;
		transform: translateX(calc(100% + 0.5rem));
	}

	&::before {
		position: absolute;
		content: '↓';
		left: 0;
		transform: translateX(calc(-100% - 0.5rem));
	}
}

.drawer-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem 0;
	overflow: hidden;
	filter: drop-shadow(0.5rem 0.5rem 1rem black);
	margin-bottom: 2rem;
}
