.tiles {
	width: 100%;
	position: relative;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, minmax(0, 25rem));
	gap: 2rem 3rem;
	max-height: 71rem;
	transition: max-height 0.5s ease-in-out;
	padding: 3rem 2rem;
	overflow: hidden;

	&.open {
		max-height: 105rem;

		.tile.hidden {
			opacity: 1;
		}
	}

	.tile {
		height: 32rem;
		opacity: 1;
		transition: opacity 0.5s ease-in-out;

		&.hidden {
			opacity: 0;
		}
	}

	// Tablets
	@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 600px) and (orientation: landscape),
		screen and (min-height: 1000px) and (min-width: 860px) and (orientation: portrait) {
		gap: 2rem;
		max-height: 70rem;

		&.open {
			max-height: 104rem;
		}

		// Edge Case Sizing
		@media screen and (max-width: 1300px) and (orientation: landscape) {
			gap: 2rem 1.5rem;
		}

		// iPad Mini + iPad Air
		@media screen and (max-width: 1250px) and (orientation: landscape),
			screen and (max-width: 1050px) and (orientation: portrait) {
			grid-template-columns: repeat(3, minmax(0, 18.75rem));
			max-height: 54rem;
			padding: 3rem 2rem;

			&.open {
				max-height: 80rem;
			}

			.tile {
				height: 24rem !important;
			}
		}

		// iPad Mini
		@media screen and (max-width: 1050px) and (orientation: landscape) {
			gap: 2rem 1.5rem;
		}

		// iPad Pro
		@media screen and (max-width: 1050px) and (orientation: portrait) {
			gap: 2rem 1.5rem;
		}
	}
}

@keyframes drawerIn {
	from {
		// opacity: 0;
		max-height: 0;
	}

	to {
		// opacity: 1;
		max-height: 32rem;
		overflow: visible;
	}
}

@keyframes drawerOut {
	from {
		// opacity: 1;
		max-height: 32rem;
	}

	to {
		// opacity: 0;
		max-height: 0;
	}
}

.more {
	all: unset;
	position: relative;
	text-decoration: underline;
	text-underline-offset: 2px;
	cursor: pointer;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: var(--gray1);
		}
	}

	&:focus-visible {
		border-radius: 0.25rem;
		padding: 0 0.25rem;
		outline: 2px solid aqua;
		outline-offset: 0.25rem;
	}

	&.up {
		&::after {
			position: absolute;
			content: '↑';
			right: 0;
			transform: translateX(calc(100% + 0.5rem));
		}

		&::before {
			position: absolute;
			content: '↑';
			left: 0;
			transform: translateX(calc(-100% - 0.5rem));
		}
	}

	&::after {
		position: absolute;
		content: '↓';
		right: 0;
		transform: translateX(calc(100% + 0.5rem));
	}

	&::before {
		position: absolute;
		content: '↓';
		left: 0;
		transform: translateX(calc(-100% - 0.5rem));
	}
}

.drawer-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem 0;
	overflow: hidden;
	filter: drop-shadow(0.5rem 0.5rem 1rem black);
	margin-bottom: 2rem;
}
