.hamburger-wrapper {
	z-index: 10;
	.hamburger {
		.hamburger-content {
			position: fixed;
			top: 4rem;
			right: 0;
			width: 400px;
			height: calc(100vh - 4rem);
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: var(--gray7);
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			transform: translateX(100%);
			transition: transform 0.5s, opacity 0.5s, visibility 0s 0.5s; // visibility hides after fade-out
			box-shadow: 0 0 1rem black;

			&.mobile {
				transform: translateX(0);

				&.active {
					.menu li {
						opacity: 1;
						transform: translateY(0);
						transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
					}

					.menu li:nth-child(1) {
						transition-delay: 0.4s;
					}
					.menu li:nth-child(2) {
						transition-delay: 0.3s;
					}
					.menu li:nth-child(3) {
						transition-delay: 0.2s;
					}
					.menu li:nth-child(4) {
						transition-delay: 0.1s;
					}
				}

				.menu {
					li {
						opacity: 0;
						transform: translateY(-5rem);
					}
				}
			}

			@media screen and (max-width: 550px) and (orientation: portrait),
				screen and (max-height: 550px) and (orientation: landscape) {
				width: 100vw;
			}

			&.active {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				transition: transform 0.5s, opacity 0.5s, visibility 0s; // visibility is instant when shown
				transform: translateX(0);
			}

			.menu {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
				transform: translateY(-2rem);

				@media screen and (max-height: 550px) and (orientation: landscape) {
					transform: translateY(0);
				}

				li {
					list-style: none;
					font-size: 1.5rem;

					@media (hover: hover) and (pointer: fine) {
						&:hover {
							color: var(--gray1);
						}
					}

					a {
						display: inline-block;
					}
				}

				li:not(:last-child) {
					a {
						&:focus-visible {
							outline: 2px solid var(--main-teal) !important;
							border-radius: 0.5rem;
							padding: 0rem 1rem;
						}
					}
				}

				li:last-child {
					a {
						padding: 0.5rem 1rem;
						border: 2px solid var(--main-gray);
						border-radius: 0.5rem;

						&:focus-visible {
							outline: none !important;
							border: 2px solid var(--main-teal) !important;
						}

						@media (hover: hover) and (pointer: fine) {
							&:hover {
								border-color: var(--gray1) !important;
								background-color: var(--gray5);
							}
						}
					}
				}
			}
		}
	}
}
